<h3>My Comments</h3>
<% Comment.where(:userid => @user.id).each do |comment| %>
	<% curruser = User.find(comment.userid) %>
	<h5>User: <%= curruser.name %> | Likes: <%= comment.likes %> | 
		        	Posted: <%= comment.created_at %>
		        	<% if current_user != nil %>
			        	<% if (comment.userid == current_user.id) %>
			        		<% if (comment.userid == current_user.id) %> 
			        			<%= button_to "Delete your comment", comment_path(id: comment.id, instruction: "delete"), :class => "button small", :method => :delete %>
			        		<% end %>
			        	<% end %>
		        	<% end %>
	</h5>
	<h4>Comment: <%= comment.content %></h4>
	<br>
<% end %>