<h1><%= @user.name %></h1>
<li><%= link_to 'Edit account', edit_user_registration_path %></li>
<h3>My Favorites<h3>
	<% Favorites.where(:userid=> @user.id).each do |favorite| %>
        <p>Image: <%= image_tag Cat.find(favorite.catid).image.url %></p>
        <p><%= link_to "Comments", cat_path(:id => favorite.catid) %></p>
        <p><%= button_to "Delete", favorite_path(id: favorite.id, instruction: "delete"), :class => "button small", :method => :delete %></p>
	<% end %>

