<% if current_user.id == nil %>
	<% link_to "/cats" %>
<%end%>
<h1> Our Form to Create a Cat </h1>
<%= simple_form_for @cat do |f| %>
  Title: <%= f.text_field :title %>
  Tags: <%= f.text_area :tag %>
  Upload picture: <%= f.file_field :image %>
  <%= f.button :submit %>
<% end %>