<% if current_user.id == nil %>
	<% link_to "/cats" %>
<%end%>
<h1> Submit a Image to the Gallery! </h1>
<%= simple_form_for @cat do |f| %>
  Title: <br>
  <%= f.text_field :title %> <br><br>
  
  Tags: <br>
  <%= f.text_field :tag %> <br><br>
  
  Upload picture: <br>
  <%= f.file_field :image %> <br><br>
  
  <%= f.button :submit %>
<% end %>