<div class="container">
    <h2>Today's Popular</h2>
    <table>
        <tbody>
            <% @order.in_groups_of(5) do |group| %>
                <tr>
                    <% (0..5).each do |i| %>
                        <% if group[i] != nil and Favorites.where(:catid => group[i][1], :userid => current_user.id) != []%>
                            <td style="padding: 20px; background-color: LightGreen; border: 5px solid #eee">
                                <h3><%= Cat.find(group[i][1]).title %></h3>
                                <p>Likes: <%= group[i][0] %></p>
                                <p><%= image_tag Cat.find(group[i][1]).image.url %></p>
                                <p><%= link_to "Comments", cat_path(:id => group[i][1]) %></p>
                                <% if current_user != nil %>
                                    <% favorite = Favorites.where(:catid => group[i][1], :userid => current_user.id).first %>
                                    <p><%= button_to "Remove Favorite", favorite_path(id: favorite.id, instruction: "delete"), :class => "button small", :method => :delete %></p>
                                <% end %>
                            </td>
                        <% end %>
                        <% if group[i] != nil and Favorites.where(:catid => group[i][1], :userid => current_user.id) == []%>
                            <td style="padding: 20px; border: 5px solid #eee">
                                <h3><%= Cat.find(group[i][1]).title %></h3>
                                <p>Likes: <%= group[i][0] %></p>
                                <p><%= image_tag Cat.find(group[i][1]).image.url %></p>
                                <p><%= link_to "Comments", cat_path(:id => group[i][1]) %></p>
                                <% if current_user != nil %>
                                    <p><%= button_to "Favorite this pic!", favorite_path(id: group[i][1], instruction: "Favorite"), :class => "button small", :method => :patch %></p>
                                <% end %>
                            </td>
                        <% end %>
                        <% if group[i] == nil %>
                            <td></td>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>